<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ZeroFlagMapper">
	<resultMap id="BaseResultMap" type="zeroFlag">
		<result column="flag" property="flag" jdbcType="INTEGER" />
	</resultMap>
	<select id="getZeroFlag" resultType="int">
		SELECT flag FROM zeroFlag
	</select>
	<update id="updateZeroFlag" parameterType="int">
		UPDATE zeroFlag SET flag = #{flag, jdbcType=INTEGER}
	</update>
</mapper>