<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="WebTypeMapper">
  <resultMap type="webType" id="webTypeMap">
  	<result column="id" property="id" jdbcType="INTEGER"/>
  	<result column="name" property="name" jdbcType="VARCHAR"/>
  </resultMap>
  <sql id="Base_Column_List">
  	id, name
  </sql>
  <select id="getAllWebType" resultMap="webTypeMap">
  	SELECT <include refid="Base_Column_List"/>
  	FROM WebType
  </select>
  <insert id="addWebType" parameterType="webType" useGeneratedKeys="true" keyProperty="id">
  	INSERT INTO webType(name) VALUES(#{name})
  </insert>
  <delete id="delWebTypeById" parameterType="int">
  	DELETE FROM webType WHERE id = #{id}
  </delete>
  <update id="updateWebTypeById" parameterType="webType">
  	UPDATE webType SET name = #{name} WHERE id = #{id}
  </update>
</mapper>
